/* Newsletter Section */
.newsletter-container {
    background-color: #f1f1f1;
    padding: 50px 20px;
    text-align: center;
}

.newsletter-container h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
}

.newsletter-container p {
    font-size: 1.4em;
    margin: 20px 0;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: #e86f30;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter-form button:hover {
    background-color: #d85c26;
}