/* assets/styles/styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
}
.header {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
}
.header-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: adds rounded corners */
}
h1 {
    color: #333;
}
.links {
    margin-top: 20px;
}
.link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    background-color: #0073b1;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.link:hover {
    background-color: #005f8f;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .header {
        padding: 10px; /* Reduce padding for smaller screens */
    }
}